body{
    background-image: url('/image/back_ground.jpg');
    background-size: cover;
}
.contents{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
     display: flex;
    margin-top: 1%;
}
.player{
    text-align: left;
    background-color: #fffacd;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height:500px; 
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 1vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    overflow-wrap: break-word;
}
.post{
    font-size: 16px;
    background-color: #fffacd;
    text-align: left;
    max-width: 100%;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 1vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    overflow-wrap: break-word;
}
.sub_parts{
    display: flex;
    justify-content: space-between;
}

.button_back {
  color: #fff;
  background-color: #1DA1F2;
  border-radius: 1vh;
  padding: 5px 14px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
}
.button_back:hover {
  color: #fff;
  text-decoration: none;
  background: #1dc7f2;
}
.pagination {
 display: flex;
  justify-content: center;
  align-items: center;
}